<div class="row">

  <div class="bs-component">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h2 class="panel-title">Nueva Liquidación</h2>
        <div class="pull-right">
        </div>
      </div>
      <div class="panel-body">
        <form class="form-horizontal">
          <div class="form-group">
            <label for="fecha" class="col-lg-2 control-label">Fecha</label>
            <div class="col-lg-5">
              <input type="date" class="form-control" id="fecha" placeholder="Fecha">
            </div>
          </div>
          <div class="form-group">
            <label for="cotizacion" class="col-lg-2 control-label">Cotización</label>
            <div class="col-lg-5">
              <input type="text" class="form-control" id="cotizacion" placeholder="Cotización">
            </div>
          </div>
          <div class="form-group">
            <label for="arrendatario" class="col-lg-2 control-label">Arrendatario</label>
            <div class="col-lg-5">
              <input type="text" class="form-control" id="arrendatario" placeholder="Arrendatario">
            </div>
          </div>
          <div class="form-group">
            <label for="propiedad" class="col-lg-2 control-label">Propiedad</label>
            <div class="col-lg-5">
              <input type="text" class="form-control" id="propiedad" placeholder="Propiedad">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-2 control-label">Tipo</label>
            <div class="col-lg-10">
              <div class="radio">
                <label>
                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
                Casa
                </label>
              </div>
              <div class="radio">
                <label>
                <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                Apartamento
                </label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="fechadesde" class="col-lg-2 control-label">Fecha desde</label>
            <div class="col-lg-5">
              <input type="date" class="form-control" id="fechadesde" placeholder="Fecha desde">
            </div>
          </div>
          <div class="form-group">
            <label for="fechahasta" class="col-lg-2 control-label">Fecha hasta</label>
            <div class="col-lg-5">
              <input type="date" class="form-control" id="fechahasta" placeholder="Fecha hasta">
            </div>
          </div>
          <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
              <button type="reset" class="btn btn-default">Cancelar</button>
              <button type="submit" class="btn btn-primary">Aceptar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>